@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Rubik+Beastly&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 47px;
  line-height: 54px;
  color: #222;
  font-family: "Love Ya Like A Sister", cursive !important;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  font-family: "Spartan", sans-serif;
  padding: 10px;
  background: #f3f3f3;
  background: linear-gradient(
    70deg,
    #f3f3f3,
    pink,
    royalblue,
    rgb(119, 128, 0)
  );
  /* background-size: 30px 25px; */
}

@keyframes wave {
  0% {
    transform: translate(-50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%) rotate(360deg);
  }
}

@keyframes shine {
  0% {
    border-color: #ff2a2a;
  }
  15% {
    border-color: #ff7a2a;
  }
  30% {
    border-color: #ffc52a;
  }
  45% {
    border-color: #43ff2a;
  }
  60% {
    border-color: #2a89ff;
  }
  75% {
    border-color: #202082;
  }
  90% {
    border-color: #6b2aff;
  }
  100% {
    border-color: #e82aff;
  }
}

/* header */
#header {
  display: flex; /* Flex 아이템들은 가로 방향으로 배치되고, 자신이 가진 내용물의 width 만큼만 차지하게 된다. 마치 inline 요소들 처럼 */
  align-items: center;
  justify-content: space-between; /*요소들 사이에 동일한 간격*/
  padding: 20px 80px;
  /*대각선 방향으로 그라데이션을 입히고 싶을 때 deg가 유용*/
  background: linear-gradient(45deg, #ee82ee, Orange);
  box-shadow: 0 40px 40px rgba(0, 211, 235, 0.5); /*x-position y-position blur spread color */
  z-index: 999; /*맨 앞으로 보내는 속성이라고 보면 된다 . 음수면 맨 뒤로이다. z-index로 상대적으로 위아래 포개지는 차이를 표현할 수 있음.*/
  /*position: sticky; /*스크롤을 내려도 header가 언제나 보이게 하는 속성*/
  top: 0;
  left: 0;
  font-family: "Love Ya Like A Sister", cursive !important;
  border-radius: 10px;
  /* transition: top 0.2s ease-in-out; */
  /* background-size: 20px 20px; */
}

#header::before,
#header::after {
  content: "";
  position: absolute;
  top: 155px;
  left: 0;
  right: 0;
  /* bottom: 10px; */
  height: 50px;
  /* background: linear-gradient(45deg, #ee82ee, Orange); */
  background: radial-gradient(
    closest-side,
    #f3f3f3,
    #f3f3f3 50%,
    transparent 50%
  );
  background-size: 50px 50px;
  background-position: 0 25px; /*x-position, y-position*/
  background-repeat: repeat-x;
}

#header::after {
  background: radial-gradient(
    closest-side,
    transparent,
    transparent 50%,
    #ee82ee,
    50%
  );
  background-size: 50px 50px;
  background-position: 25px -25px; /*x-position, y-position*/
  background-repeat: repeat-x;
  /* bottom: -50px; */
  top: 205px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /*center로 해도 똑같은 결과가 나왔다 여기서는*/
  /* margin: 50px; */
  padding: 50px;
  border-radius: 10px;
  border: 4px dotted rgba(204, 6, 138, 0.925); /*두께 색상 */
  animation: shine 3s linear infinite;
  border-radius: 50%;
}

#navbar li {
  list-style: none; /*앞에 list 항목 동그라미 없애줌*/
  padding: 0 20px; /*bottom top left right*/
  background: repeating-radial-gradient(
    #ee82ee,
    orange 1px,
    #43ff2a 1px,
    white 1px
  );
  position: relative; /*relative : 위치를 계산할때 static의 원래 위치부터 계산함.*/
}

#navbar li a {
  text-decoration: none; /*링크의 밑줄 없앰(보라색으로 색 바뀌는 것도 없어짐) */
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease; /*변화가 있을 때 0.3초 딜레이 줌*/
}

#navbar li a:hover,
#navbar li a.active {
  /*active class/* --> 해당 페이지면 목록 색깔 하이라이트 처리
  /*마우스 위로 갖다대면 색 바뀜 처리*/
  color: #05b96b;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #c5088c;
  /* position 속성은 상속되지 않으며, 
  위(top), 아래(bottom), 왼쪽(left), 오른쪽(right) 
  의 위치를 같이 설정 할 수 있다. */

  /*
  absolute는
  원래 위치와 상관없이 위치를 지정할 수 있다. 
  단, 가장 가까운 상위 요소를 기준으로 위치가 결정 된다.*/
  position: absolute; /*li가 가장 상위요소다 여기서는*/

  bottom: -4px;
  left: 20px;
}

/*Home Page*/
#hero {
  background-image: url("img/background2.jpg");
  background-repeat: no-repeat;
  background-color: transparent;
  margin: auto;
  /*vh요소는 높이값의 100분의 1의 단위*/
  height: 100vh; /*예를 들어 900px 일 때 1vh는 9px*/
  width: 90%;
  /* width: 100%; */
  /*contain과 cover는 같은 뜻, 너비 값만 사용, 높이는 자동으로 auto*/
  /*이미지가 찌그러지지 않는 한도 내에서 제일 크게 설정.*/
  background-size: cover;
  background-position: bottom 40px center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40%;
  /* justify-content: center; */
}

#herodiv {
  padding-left: 30px;
}

#hero h4 {
  padding-bottom: 30px;
}

#hero h1 {
  padding-bottom: 15px;
  color: #05b96b;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
#hero button {
  background-color: rgb(211, 125, 13);
  /*
  rotate_image 라는 이름을 가진 키프레임을 실행시키라는 소리
  6s : 6초에 한번씩 (animation-duration)
  linear : 동일한 속도로 (animation-timing-function)
  ease : 천천히 시작되고, 속도가 줄어들면서 끝남.
  ...
  */
  animation: rotate_image 6s ease infinite;
  transform-origin: 50% 50%; /*비율에 따라 회전중심이 달라짐*/
  background-repeat: no-repeat;
  width: 280px;
  height: 150px;
  /* background-color: transparent; */
  /* color: #c5088c; */
  /* border: 0; */
  padding: 20px -30px 14px 65px;
}

#feature .fe-box {
  width: 250px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 10px 20px 40px rgba(219, 13, 13, 0.925); /* x-position y-position blur spread color */
  border: 2px solid rgba(219, 13, 13, 0.925); /*두께 색상*/
  border-radius: 30%;
  /* box-shadow: 10px 20px 40px rgba(156, 248, 8, 0.925); x-position y-position blur spread color */
  /* border: 2px solid rgba(156, 248, 8, 0.925); 두께 색상 */
}

#feature .fe-box img #feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(235, 114, 0, 0.897);
  border: 2px solid rgba(235, 114, 0, 0.897);
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 10px; /*top left bottom right*/
  line-height: 2px;
  border-radius: 4px;
  border-radius: 30%; /* 테두리를 둥글게 만드는 속성- px 단우와 %사용 가능*/
  /*border-radius : aa 는 border-radius: aa aa aa aa / aa aa aa aa 와 같은 뜻*/
  background: repeating-radial-gradient(
    rgb(223, 40, 27),
    /* black 1px, */ #f58d05 3px,
    white 3px
  );
}
